//////////////////////// Variables ////////////////////////
@col--bg: #c3f0f8;
@col--text: #3177b1;
// @col--bg: #c7f0da;
// @col--text: #0d7248;


//////////////////////// General styles ////////////////////////
.hidden{
    display: none;
}
.no-scroll{
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}
.link{
    color: @col--text;
    text-decoration: none;
}
.btn{
    outline: 0;
    cursor: pointer;
}
.btn-primary{
    background-color: @col--text;
    color: #fff;
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 25px;
}
.btn-secondary{
    background: none;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.container{
    max-width: 1000px;
    margin: auto;
    width:90%;
}
.margin-below{
    margin-bottom: 40px;
}
.font-sizes-sm{
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 18px;
    }
    p, .link{
        font-size: 16px;
    }
}
.font-sizes-lg{
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 20px;
    }
    p, .link{
        font-size: 18px;
    }
}

html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
section, header{
    .font-sizes-lg;
}
@media screen and (max-width: 767px){
    section, header{
        .font-sizes-sm;
    }
}
.section-height{
    height: 700px;
    padding: 50px 0;
}

//////////////////////// Section styles ////////////////////////
.navbar{
    background-color: @col--bg;
    padding: 10px 0;
    .logo{ 
        margin: 0;
        width: 65px;
        .logo__title {
            float: left;
            text-indent: -9999px;
            background-image: url("decent.svg");
            background-position: left center;
            background-size: 65px;
            background-repeat: no-repeat;
            width:65px;
            height: 41px;
            @media screen and (max-width: 767px){
                background-size: 50px;
                width: 50px;
            }
        }
    }
    #hamburger{
        cursor: pointer;
        float: right;
        padding: 5px 10px;
        z-index: 3;
        position: relative;
        div{
            width: 25px;
            height: 4px;
            background-color: @col--text;
            margin: 5px 0;
            border-radius: 2px;
        }
        .hamburger-animations{
            animation-duration: .5s;
            animation-fill-mode: forwards; 
            animation-timing-function: ease-in-out;
        }


        //bar 1
        @keyframes bar1-animation{
            50% {transform: translate(0px,9px)}
            100%{transform: translate(0px,9px) rotate(45deg)}
        }
        @keyframes bar1-animation--reverse{
            50% {transform: translate(0px,9px)}
            100%{transform: translate(0px,9px) rotate(45deg)}
        }
        .bar1-animate{
            .hamburger-animations;
            animation-name: bar1-animation;
        }
        .bar1-animate--reverse{
            .hamburger-animations;
            animation-name: bar1-animation--reverse;
            animation-direction: reverse;
        }


        //bar 2
        @keyframes bar2-animation{
            0% {background-color: @col--text}
            100% {background-color: transparent}
        }
        @keyframes bar2-animation--reverse{
            0% {background-color: transparent}
            90% {background-color: transparent}
            100% {background-color: @col--text}
        }
        .bar2-animate{
            .hamburger-animations;
            animation-name: bar2-animation;
            animation-delay: 0.2s;
            animation-duration: 0.1s;
        }
        .bar2-animate--reverse{
            .hamburger-animations;
            animation-name: bar2-animation--reverse;
            animation-duration: .25s;
        }
        

        //bar 3
        @keyframes bar3-animation{
            50% {transform: translate(0px, -9px)}
            100%{transform: translate(0px, -9px) rotate(-45deg)}
        }
        @keyframes bar3-animation--reverse{
            50% {transform: translate(0px, -9px)}
            100%{transform: translate(0px, -9px) rotate(-45deg)}
        }
        .bar3-animate{
            .hamburger-animations;
            animation-name: bar3-animation;
        }
        .bar3-animate--reverse{
            .hamburger-animations;
            animation-name: bar3-animation--reverse;
            animation-direction: reverse;
        }
    }
    nav{
        float: right;
        padding: 10px;
        .link{
            padding: 0 10px;
        }
        h3{
            display: none;
        }
    }
}

#menu{
    z-index: 2;
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    padding: 100px 0;
    top: 0px;
    width: 100vw;
    height: 100vh;
    .menu_container{
        width: 500px;
        margin: auto;
        margin-top: 15vh;
        font-size: 55px;
        @media (max-width: 767px){
            width: 300px;
            font-size: 30px;
        }
        div{
            padding: 0 10px;
            margin: 10px 0;
            text-decoration: none;
            cursor: pointer;
            transition: 0.6s;
            @media (max-width: 767px){
                margin: 15px 0;
            }
            a{
                color: @col--text;
                text-decoration: none;
            }
        }
        div:hover{
            background-color: @col--bg;
            border-radius: 10px;
        }
    }
}


.header{
    min-height: 80vh; //need to somehow minus navbar height
    background-color: @col--bg;
    color: @col--text;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 10px;
    z-index: 1;
    @media screen and (min-width: 768px){
        padding-top: 80px;
    }
    .btn-arrow__container{
        width: inherit;
        max-width: 1000px;
        position: absolute;
        bottom: 60px;
        .btn-arrow__btn{
           background: transparent url("chevron-down.svg") center/40px no-repeat; 
           border: none;
           width: 40px;
           padding: 10px 20px;
           text-indent: -9999px;
           display: block;
           margin: auto;
           transition: 0.1s;
           &:hover{
            background-size: 50px;
            }
        }
    }
}

footer{
    #arrow__footer{
        position: fixed;
        bottom: 15px;
        right: 15px;
        background: @col--bg url("chevron-down.svg") center/40px no-repeat; 
        border-radius: 5px;
        width: 30px;
        height: 20px;
        text-align: center;
        padding: 10px;
        transform: rotate(180deg);
        cursor: pointer;
    }
}