.hidden {
  display: none;
}
.no-scroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
.link {
  color: #3177b1;
  text-decoration: none;
}
.btn {
  outline: 0;
  cursor: pointer;
}
.btn-primary {
  background-color: #3177b1;
  color: #fff;
  text-decoration: none;
  padding: 10px 35px;
  border-radius: 25px;
}
.btn-secondary {
  background: none;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.container {
  max-width: 1000px;
  margin: auto;
  width: 90%;
}
.margin-below {
  margin-bottom: 40px;
}
.font-sizes-sm h2 {
  font-size: 24px;
}
.font-sizes-sm h3 {
  font-size: 18px;
}
.font-sizes-sm p,
.font-sizes-sm .link {
  font-size: 16px;
}
.font-sizes-lg h2 {
  font-size: 30px;
}
.font-sizes-lg h3 {
  font-size: 20px;
}
.font-sizes-lg p,
.font-sizes-lg .link {
  font-size: 18px;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
section h2,
header h2 {
  font-size: 30px;
}
section h3,
header h3 {
  font-size: 20px;
}
section p,
header p,
section .link,
header .link {
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  section h2,
  header h2 {
    font-size: 24px;
  }
  section h3,
  header h3 {
    font-size: 18px;
  }
  section p,
  header p,
  section .link,
  header .link {
    font-size: 16px;
  }
}
.section-height {
  height: 700px;
  padding: 50px 0;
}
.navbar {
  background-color: #c3f0f8;
  padding: 10px 0;
}
.navbar .logo {
  margin: 0;
  width: 65px;
}
.navbar .logo .logo__title {
  float: left;
  text-indent: -9999px;
  background-image: url("decent.svg");
  background-position: left center;
  background-size: 65px;
  background-repeat: no-repeat;
  width: 65px;
  height: 41px;
}
@media screen and (max-width: 767px) {
  .navbar .logo .logo__title {
    background-size: 50px;
    width: 50px;
  }
}
.navbar #hamburger {
  cursor: pointer;
  float: right;
  padding: 5px 10px;
  z-index: 3;
  position: relative;
}
.navbar #hamburger div {
  width: 25px;
  height: 4px;
  background-color: #3177b1;
  margin: 5px 0;
  border-radius: 2px;
}
.navbar #hamburger .hamburger-animations {
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes bar1-animation {
  50% {
    transform: translate(0px, 9px);
  }
  100% {
    transform: translate(0px, 9px) rotate(45deg);
  }
}
@keyframes bar1-animation--reverse {
  50% {
    transform: translate(0px, 9px);
  }
  100% {
    transform: translate(0px, 9px) rotate(45deg);
  }
}
.navbar #hamburger .bar1-animate {
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-name: bar1-animation;
}
.navbar #hamburger .bar1-animate--reverse {
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-name: bar1-animation--reverse;
  animation-direction: reverse;
}
@keyframes bar2-animation {
  0% {
    background-color: #3177b1;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes bar2-animation--reverse {
  0% {
    background-color: transparent;
  }
  90% {
    background-color: transparent;
  }
  100% {
    background-color: #3177b1;
  }
}
.navbar #hamburger .bar2-animate {
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-name: bar2-animation;
  animation-delay: 0.2s;
  animation-duration: 0.1s;
}
.navbar #hamburger .bar2-animate--reverse {
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-name: bar2-animation--reverse;
  animation-duration: .25s;
}
@keyframes bar3-animation {
  50% {
    transform: translate(0px, -9px);
  }
  100% {
    transform: translate(0px, -9px) rotate(-45deg);
  }
}
@keyframes bar3-animation--reverse {
  50% {
    transform: translate(0px, -9px);
  }
  100% {
    transform: translate(0px, -9px) rotate(-45deg);
  }
}
.navbar #hamburger .bar3-animate {
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-name: bar3-animation;
}
.navbar #hamburger .bar3-animate--reverse {
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-name: bar3-animation--reverse;
  animation-direction: reverse;
}
.navbar nav {
  float: right;
  padding: 10px;
}
.navbar nav .link {
  padding: 0 10px;
}
.navbar nav h3 {
  display: none;
}
#menu {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
}
#menu .menu_container {
  margin: auto;
  position: fixed;
  font-size: 40px;
}
#menu .menu_container .menu-option_container {
  display: none;
  font-family: 'Playfair Display', serif;
  padding: 0 10px;
  margin: 5vh 0;
  text-decoration: none;
  min-width: 350px;
  cursor: pointer;
}
@media (max-width: 1400px) {
  #menu .menu_container .menu-option_container {
    font-size: 35px;
    min-width: 300px;
  }
}
@media (max-width: 767px) {
  #menu .menu_container .menu-option_container {
    font-size: 30px;
    min-width: 275px;
  }
}
#menu .menu_container .menu-option_container a {
  transition: font-weight 0.4s ease-in-out;
  color: #3177b1;
  text-decoration: none;
  vertical-align: top;
}
#menu .menu_container .menu-option_container .menu_dash {
  position: relative;
  height: 2px;
  margin: 1px 0;
}
#menu .menu_container .menu-option_container .menu_dash__inner {
  width: 0%;
  height: 2px;
  margin: 0;
  background-color: #3177b1;
  transition: width 0.3s ease-in-out;
}
#menu .menu_container .menu-option_container .menu_dash__inner--hover {
  width: 100%;
}
.header {
  background-color: #c3f0f8;
  color: #3177b1;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 10px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 80px;
  }
}
.header .header-content {
  overflow: auto;
}
@media (min-width: 768px) {
  .header .header-content {
    padding-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .header .header-content .header-content__text {
    float: left;
    width: 48%;
    margin-top: 45px;
  }
}
.header .header-content .header-image {
  width: 70vw;
  height: 70vw;
  max-height: 350px;
  max-width: 350px;
  margin: 50px auto;
  background-image: url('social-media.svg');
  background-size: cover;
}
@media (min-width: 768px) {
  .header .header-content .header-image {
    float: right;
    width: 350px;
    height: 350px;
    margin: 0;
  }
}
.header .btn-arrow__container {
  width: 100%;
  bottom: 30vh;
}
.header .btn-arrow__container .btn-arrow__btn {
  background: transparent url("chevron-down.svg") center / 40px no-repeat;
  border: none;
  width: 40px;
  padding: 10px 20px;
  text-indent: -9999px;
  display: block;
  transition: 0.1s;
  margin: auto;
}
.header .btn-arrow__container .btn-arrow__btn:hover {
  background-size: 50px;
}
#howItWorks {
  text-align: center;
}
#howItWorks .howItWorks__image {
  background-image: url('smartphone.svg');
  background-size: cover;
  width: 300px;
  height: 300px;
  margin: 80px auto;
}
#howItWorks .howItWorks__item-container .howItWorks__item {
  display: inline-block;
  width: 27%;
  padding: 10px;
  vertical-align: top;
}
#howItWorks .howItWorks__item-container .howItWorks__item .howItWorks__item__icon {
  background-size: cover;
  width: 50px;
  height: 50px;
  margin: auto;
}
#howItWorks .howItWorks__item-container .howItWorks__item .item1 {
  background-image: url('piggy-bank.svg');
}
#howItWorks .howItWorks__item-container .howItWorks__item .item2 {
  background-image: url('money.svg');
}
#howItWorks .howItWorks__item-container .howItWorks__item .item3 {
  background-image: url('profits.svg');
}
@media (max-width: 767px) {
  #howItWorks .howItWorks__item-container .howItWorks__item {
    width: 100%;
    display: inline;
  }
}
footer #arrow__footer {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: #3177b1 url("chevron-down.svg") center / 40px no-repeat;
  border-radius: 5px;
  width: 30px;
  height: 20px;
  text-align: center;
  padding: 10px;
  transform: rotate(180deg);
  cursor: pointer;
}
